@font-face {
	font-family: 'icons';
	src:url('fonts/icons/icons.eot?-3sh89t');
	src:url('fonts/icons/icons.eot?#iefix-3sh89t') format('embedded-opentype'),
		url('fonts/icons/icons.woff?-3sh89t') format('woff'),
		url('fonts/icons/icons.ttf?-3sh89t') format('truetype'),
		url('fonts/icons/icons.svg?-3sh89t#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e052";
}

.icon-arrow-left4:before {
	content: "\e094";
}

.icon-arrow-right4:before {
	content: "\e095";
}

.icon-arrow-up4:before {
	content: "\e096";
}

.icon-arrow-down4:before {
	content: "\e097";
}

.icon-plus:before {
	content: "\e114";
}

.icon-minus:before {
	content: "\e115";
}

.icon-close:before {
	content: "\e117";
}

.icon-menu:before {
	content: "\e120";
}

.icon-list:before {
	content: "\e603";
}

.icon-arrow-left:before {
	content: "\e60a";
}

.icon-arrow-down:before {
	content: "\e60b";
}

.icon-arrow-up:before {
	content: "\e60c";
}

.icon-arrow-right:before {
	content: "\e60d";
}

.icon-arrow-left2:before {
	content: "\e60e";
}

.icon-arrow-down2:before {
	content: "\e60f";
}

.icon-arrow-up2:before {
	content: "\e610";
}

.icon-arrow-right2:before {
	content: "\e600";
}

.icon-arrow-left3:before {
	content: "\e611";
}

.icon-arrow-down3:before {
	content: "\e612";
}

.icon-arrow-up3:before {
	content: "\e613";
}

.icon-arrow-right3:before {
	content: "\e601";
}

.icon-twitter:before {
	content: "\e614";
}

.icon-facebook:before {
	content: "\e615";
}

